{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - Sweeper Audit</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static '/home/css/styles.css' %}" rel="stylesheet" type="text/css" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed bg-dark">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3"><img src="{% static "/home/NTU_Logo.png" %}" class="img-fluid"></a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-lg order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <a class="navbar-title ps-5" href="{% url 'index' %}">Sweeper Audit System</a>
            <!-- Navbar-->
            <ul class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'login' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{% url 'index' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="{% url 'charts' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Reports
                            </a>
                            <a class="nav-link" href="{% url 'tables' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        NTU
                    </div>
                </nav>
            </div>
            <!-- <nav class="sb-topnav navbar navbar-expand navbar-dark bg-secondary">
            </nav> -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4 bg-secondary">
                        <h1 class="mt-5 mb-2">Dashboard</h1>
                        <ol class="breadcrumb mb-3">
                            <li class="breadcrumb-item active">Audit</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-10">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        The Amount of Records
                                    </div>
                                    <div style="position:relative;width:100%;height:1;padding-bottom:40%;">
                                        <iframe src="{% static "/home/foliumdata/choro.html" %}" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe>
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="10"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Sweeper audit
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>VehicleID</th>
                                            <th>Company</th>
                                            <th>RecordedDate</th>
                                            <th>RecordedTime</th>
                                            <th>Road</th>
                                            <th>Suburb</th>
                                            <th>County</th>
                                            <th>Postcode</th>
                                            <th>Level</th>
                                            <th>Duration(sec)</th>
                                            <th>Detail</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for detect_info in total %}
                                        <tr>
                                            <td>{{ detect_info.vehicle_id }}</td>
                                            <td>{{ detect_info.company }}</td>
                                            <td>{{ detect_info.currentdate }}</td>
                                            <td>{{ detect_info.currenttime }}</td>
                                            <td>{{ detect_info.road }}</td>
                                            <td>{{ detect_info.suburb }}</td>
                                            <td>{{ detect_info.county }}</td>
                                            <td>{{ detect_info.postcode }}</td>
                                            <td>{{ detect_info.avg_unclean_level }}</td>
                                            <!-- <td>{{ detect_info.hyperlink }}</td> -->
                                            <td>{{ detect_info.duration }}</td>
                                            <td class="text-center">
                                                <a class="btn btn-success btn-sm" href="/generate_new_detail_info/?vehicle_id={{ detect_info.vehicle_id }}&company={{ detect_info.company }}&currentdate={{ detect_info.currentdate }}&currenttime={{ detect_info.currenttime }}&road={{ detect_info.road }}&suburb={{ detect_info.suburb }}&county={{ detect_info.county }}&postcode={{ detect_info.postcode }}&avg_unclean_level={{ detect_info.avg_unclean_level }}&duration={{ detect_info.duration }}&latitude={{ detect_info.latitude }}&longitude={{ detect_info.longitude }}"><i></i>DetailLink
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a class="btn btn-danger btn-sm" href="/drop_info_index/?id={{ detect_info.id }}"><i></i>Delete
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </main>
                <footer class="py-4 bg-secondary mt-1">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-white">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static '/home/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static '/home/assets/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static '/home/js/datatables-simple-demo.js' %}"></script>
    </body>
</html>
