build/*
.idea/static
*.py[cod]
*.pyc
*.pyo
*.deb
*.whl
*.tar.gz
*.mp4
*.avi
*.bag
environment_configuration/sweeper_audit_model/model/*.pth
environment_configuration/sweeper_audit_model/dataset/sweeper/train/
environment_configuration/sweeper_audit_model/dataset/sweeper/train_labelme/
environment_configuration/sweeper_audit_model/dataset/sweeper/trainannot/
environment_configuration/sweeper_audit_model/dataset/sweeper_2000+/*
environment_configuration/sweeper_audit_model/result/
environment_configuration/sweeper_audit_model/server/
environment_configuration/raw_data_preprocess/annotation/
environment_configuration/raw_data_preprocess/clean/
environment_configuration/raw_data_preprocess/temp/
environment_configuration/raw_data_preprocess/unclean/
environment_configuration/command_center/sweeper_command_center/home/static/home/data/*.png
environment_configuration/command_center/sweeper_command_center/home/static/home/data/*.html
environment_configuration/command_center/sweeper_command_center/home/static/home/data/*.js
environment_configuration/command_center/sweeper_command_center/home/templates/detail
environment_configuration/sweeper_audit_model/checkpoint
environment_configuration/raw_data_preprocess/images/*.jpg
environment_configuration/sweeper_audit_model/example_image